@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a test project i developed to practise in MVC environment.</p>
    <p>Im still planning on adding admin CRUD for movies and users, and a rent function.</p>
</div>
