@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a test project i developed to practise in MVC environment.</p>
    <div>
    <h3 class ="text-start">Functions remaining to add:</h3>
    <ul class="text-start">
        <li>For User:</li>
        <li>Review
            <ul>
                <li>Ratings</li>
                <li>Commennts</li>
                <li>See reviews in movie details</li>
            </ul>
        </li>
        <li>For Admin:</li>
        <li>See all rent history</li>
        <li>Statistics</li>
        <li>Moderate Useraccounts</li>
        <li>Admin Dashboard</li>
        <li>UI/UX</li>
        <li>Filter and search for movies</li>
        <li>Sort</li>
        <li>Imageupload (moviecover)</li>
        <li>main page carousel for "most rented/most popular" and "New movies/Recently added"</li>
    </ul>
</div>
</div>